@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.home__page {
    width: 1400px;
    height: 100vh;
    background: url("../../images/Ewha95OWgAAt4Z-.jpg") center center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    grid-template-rows: 100px 100px 100px;
    h1 {
        font-family: 'Russo One', sans-serif;
        font-size: 130px;
        font-weight: bold;
        color: #e53333;
    }
    .button__auth {
        width: 250px;
        height: 50px;
        border-radius: 25px;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
            background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #e28495 78%, #d65785 100%);
        }
    }
}